html {
  --color-primary: hsl(87, 98%, 34%);
  --color-primary-m: hsla(87, 100%, 45%, 0.6);
  --color-secondary: hsl(211, 100%, 45%);
  --color-secondary-m: hsl(211, 100%, 45%, .6);
  --color-tertiary: hsl(201, 100%, 23%);
  --color-tertiary-m: hsl(201, 100%, 23%, .6);
  --color-quaternary: hsl(40, 100%, 76%);
  --color-quaternary-m: hsl(40, 100%, 76%, .6);
  --color-quinary: rgba(255,255,255);
  --color-quinary-m: rgba(255, 255, 255, .5); }

html[data-theme="dark"] {
  --color-primary: rgb(36, 38, 43);
  --color-primary-m: rgba(36, 38, 43, .65);
  --color-secondary: hsl(87, 98%, 34%);
  --color-secondary-m: hsla(87, 100%, 45%, 0.6);
  --color-tertiary: hsl(201, 100%, 23%);
  --color-tertiary-m: hsl(201, 100%, 23%, .6);
  --color-quaternary: hsl(102, 10%, 65%);
  --color-quaternary-m: hsl(102, 10%, 65%, 0.6);
  --color-quinary: rgba(255,255,255);
  --color-quinary-m: rgba(255, 255, 255, .5); }

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.9;
  background-color: var(--color-primary); }

.container {
  display: grid;
  grid-template-columns: [container-start] 1fr [center-start] repeat(6, [col-start] minmax(min-content, 16.6rem) [col-end]) [center-end] 1fr [container-end];
  grid-template-rows: min-content 90vh repeat(9, min-content); }

li {
  list-style: none; }

a:link,
a:visited {
  text-decoration: none;
  color: var(--color-quinary);
  font-weight: 400;
  letter-spacing: .2rem;
  font-size: calc(1.2rem + .5vw); }

i {
  color: var(--color-primary);
  font-size: calc(1.5rem + 2vw); }

.clients {
  background-color: var(--color-secondary);
  grid-column: container-start / container-end;
  height: 600px; }

.features {
  background-color: var(--color-secondary);
  grid-column: container-start / container-end;
  height: 600px; }

.motto {
  background-color: var(--color-quaternary);
  grid-column: container-start / container-end;
  height: 600px; }

.register {
  background-color: var(--color-primary);
  grid-column: container-start / container-end;
  height: 600px; }

.showcase {
  background-color: var(--color-tertiary);
  grid-column: container-start / container-end;
  height: 100vh; }

.testimonials {
  background-color: var(--color-quaternary);
  grid-column: container-start / container-end;
  height: 500px; }

.trainers {
  background-color: var(--color-tertiary);
  grid-column: center-start / center-end;
  height: 600px; }

.footer {
  background-color: var(--color-tertiary);
  grid-column: container-start / container-end;
  height: 600px; }

.header {
  background-color: var(--color-secondary);
  grid-column: container-start / container-end;
  height: 600px; }
