html {
  --color-primary: hsl(87, 98%, 34%);
  --color-primary-m: hsla(87, 100%, 45%, 0.6);
  --color-secondary: hsl(211, 100%, 45%);
  --color-secondary-m: hsl(211, 100%, 45%, .6);
  --color-tertiary: hsl(201, 100%, 23%);
  --color-tertiary-m: hsl(201, 100%, 23%, .6);
  --color-quaternary: hsl(40, 100%, 76%);
  --color-quaternary-m: hsl(40, 100%, 76%, .6);
  --color-quinary: rgba(255,255,255);
  --color-quinary-m: rgba(255, 255, 255, .5); }

html[data-theme="dark"] {
  --color-primary: rgb(36, 38, 43);
  --color-primary-m: rgba(36, 38, 43, .65);
  --color-secondary: hsl(87, 98%, 34%);
  --color-secondary-m: hsla(87, 100%, 45%, 0.6);
  --color-tertiary: hsl(201, 100%, 23%);
  --color-tertiary-m: hsl(201, 100%, 23%, .6);
  --color-quaternary: hsl(102, 10%, 65%);
  --color-quaternary-m: hsl(102, 10%, 65%, 0.6);
  --color-quinary: rgba(255,255,255);
  --color-quinary-m: rgba(255, 255, 255, .5); }

@keyframes upwards {
  from {
    transform: translateY(75%);
    opacity: 0; }
  to {
    transform: translateY(0);
    opacity: 1; } }

@keyframes downwards {
  from {
    transform: translateY(-75%);
    opacity: 0; }
  to {
    transform: translateY(0);
    opacity: 1; } }

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.9;
  background-color: var(--color-primary); }

.container {
  display: grid;
  grid-template-columns: [container-start] 1fr [center-start] repeat(6, [col-start] minmax(min-content, 16.6rem) [col-end]) [center-end] 1fr [container-end];
  grid-template-rows: min-content 90vh repeat(9, min-content); }

li {
  list-style: none; }

a:link,
a:visited {
  text-decoration: none;
  color: var(--color-quinary);
  font-weight: 400;
  letter-spacing: .2rem;
  font-size: calc(1.2rem + .5vw); }

i {
  color: var(--color-primary);
  font-size: calc(1.5rem + 2vw); }

.clients {
  background-color: var(--color-secondary);
  grid-column: container-start / container-end;
  height: 600px; }

.features {
  background-color: var(--color-secondary);
  grid-column: container-start / container-end;
  height: 600px; }

.motto {
  background-color: var(--color-quaternary);
  grid-column: container-start / container-end;
  height: 600px; }

.register {
  background-color: var(--color-primary);
  grid-column: container-start / container-end;
  height: 600px; }

.showcase {
  background-color: var(--color-tertiary);
  grid-column: container-start / container-end;
  height: 100vh; }

.testimonials {
  background-color: var(--color-quaternary);
  grid-column: container-start / container-end;
  height: 500px; }

.trainers {
  background-color: var(--color-tertiary);
  grid-column: center-start / center-end;
  height: 600px; }

.footer {
  background-color: var(--color-tertiary);
  grid-column: container-start / container-end;
  height: 600px; }

.header {
  grid-column: container-start / container-end; }
  .header__overlay {
    width: 100%;
    height: 100vh;
    background-color: var(--color-tertiary);
    position: fixed;
    opacity: 0;
    display: none;
    z-index: 10; }
  .header__nav {
    width: 100%;
    height: 7rem;
    line-height: 7rem;
    display: flex;
    justify-content: space-around;
    background-color: var(--color-primary);
    text-transform: uppercase; }
  .header__logo {
    padding: 1rem; }
    .header__logo img {
      height: 5rem;
      width: 5rem; }
  .header__links {
    display: flex; }
  .header__item a:link,
  .header__item a:visited {
    margin-right: 2vw;
    padding: 0 1.5rem;
    display: block;
    position: relative;
    z-index: 2; }
  .header__item a::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--color-tertiary);
    transition: all .3s ease-in-out;
    transform: scale(0);
    z-index: -1; }
  .header__item a:hover::after {
    transform: scale(1); }
  .header__item:nth-child(odd) {
    animation: downwards 1s forwards; }
  .header__item:nth-child(even) {
    animation: upwards 1s forwards; }
  .header__toggle-container {
    display: flex;
    align-items: center; }
    .header__toggle-container input[type='checkbox'] {
      position: relative;
      width: 6rem;
      height: 3rem;
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      background-color: var(--color-quinary);
      border-radius: 2.5rem;
      box-shadow: inset 0 0 0.6rem 0.1rem #9e9d9d;
      transition: all .5s ease-in;
      display: grid;
      place-items: center; }
    .header__toggle-container input:checked[type="checkbox"] {
      background-color: #222; }
    .header__toggle-container input:not(:checked)[type="checkbox"] {
      background-color: whitesmoke; }
    .header__toggle-container input[type="checkbox"]::before,
    .header__toggle-container input[type="checkbox"]::after {
      content: '';
      position: absolute;
      width: 1.7rem;
      height: 1.7rem;
      border-radius: 50%;
      background-color: var(--color-quinary);
      box-shadow: 0 0.1rem 0.3rem 0.1rem rgba(128, 128, 128, 0.35);
      transition: all .5s ease-in-out; }
    .header__toggle-container input[type="checkbox"]::before {
      left: 0.5rem; }
    .header__toggle-container input[type="checkbox"]::after {
      right: 0.5rem; }
    .header__toggle-container input:checked[type='checkbox']::before {
      left: 56%;
      box-shadow: none; }
    .header__toggle-container input:checked[type='checkbox']::after {
      right: 56%;
      box-shadow: none; }
