// Light Theme

html {
    --color-primary: hsl(87, 98%, 34%);
    --color-primary-m: hsla(87, 100%, 45%, 0.6);
    --color-secondary: hsl(211, 100%, 45%);
    --color-secondary-m: hsl(211, 100%, 45%, .6);
    --color-tertiary: hsl(201, 100%, 23%);
    --color-tertiary-m: hsl(201, 100%, 23%, .6);
    --color-quaternary: hsl(40, 100%, 76%);
    --color-quaternary-m: hsl(40, 100%, 76%, .6);
    --color-quinary: rgba(255,255,255);
    --color-quinary-m: rgba(255, 255, 255, .5);
}


//Dark Theme
html[data-theme="dark"] {
    --color-primary: rgb(36, 38, 43);
    --color-primary-m: rgba(36, 38, 43, .65);
    --color-secondary: hsl(87, 98%, 34%);
    --color-secondary-m: hsla(87, 100%, 45%, 0.6);
    --color-tertiary: hsl(201, 100%, 23%);
    --color-tertiary-m: hsl(201, 100%, 23%, .6);
    --color-quaternary: hsl(102, 10%, 65%);
    --color-quaternary-m: hsl(102, 10%, 65%, 0.6);
    --color-quinary: rgba(255,255,255);
    --color-quinary-m: rgba(255, 255, 255, .5);
}

// font weights

$font-weights: (
    'font-weight-thin': 300,
    'font-weight-light': 400,
    'font-weight-normal': 500,
    'font-weight-bold': 700,
    'font-weight-extra-bold': 900,
);

@function font-weight($font-weight-style){
    @return map-get($font-weights, $font-weight-style);
}


// font sizes

$font-sizes: (
    'font-size-small': calc(1.2rem + .5vw),
    'font-size-regular': calc(1.5rem + 1vw),
    'font-size-medium': calc(1.5rem + 2vw),
    'font-size-large': calc(1.5rem + 5vw),
    'font-size-xlarge': calc(2.5rem + 5vw),
);

@function font-size($font-size-style){
    @return map-get($font-sizes, $font-size-style);
}