.header {
    grid-column: container-start / container-end;
    // Dynamic class => is toggled using JavaScript
    // Middle Line
    &__overlay {
        width: 100%;
        height: 100vh;
        background-color: var(--color-tertiary);
        position: fixed;
        opacity: 0;
        display: none;
        z-index: 10;
    }
    &__nav {
        width: 100%;
        height: 7rem;
        line-height: 7rem;
        display: flex;
        justify-content: space-around;
        background-color: var(--color-primary);
        text-transform: uppercase;
    }
    &__logo{
        padding: 1rem;
        img {
            height: 5rem;
            width: 5rem;
        }
    }
    &__links{
        display: flex;
    }
    &__item {
        a:link,
        a:visited {
            margin-right: 2vw;
            padding: 0 1.5rem;
            display: block;
            position: relative;
            z-index: 2;
        }
        a::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background-color: var(--color-tertiary);
            transition: all .3s ease-in-out;
            transform: scale(0);
            z-index: -1;
        }
        a:hover::after{
            transform: scale(1);
        }
    }

    &__item:nth-child(odd){
        animation: downwards 1s forwards;
    }
    &__item:nth-child(even){
        animation: upwards 1s forwards;
    }
    &__toggle-container{
        display: flex;
        align-items: center;
        input[type='checkbox']{
            position: relative;
            width: 6rem;
            height: 3rem;
            appearance: none;
            -webkit-appearance: none;
            -moz-appearance: none;
            background-color: var(--color-quinary);
            border-radius: 2.5rem;
            box-shadow: inset 0 0 0.6rem 0.1rem rgb(158, 157, 157);
            transition: all .5s ease-in;
            display: grid;
            place-items: center;
        }
        input:checked[type="checkbox"]{
            background-color: #222;
        }
        input:not(:checked)[type="checkbox"]{
            background-color: whitesmoke;
        }
        input[type="checkbox"]::before,
        input[type="checkbox"]::after{
            content: '';
            position: absolute;
            width: 1.7rem;
            height: 1.7rem;
            border-radius: 50%;
            background-color: var(--color-quinary);
            box-shadow: 0 0.1rem 0.3rem 0.1rem hsla(0, 0%, 50%, .35);
            transition: all .5s ease-in-out;
        }
        input[type="checkbox"]::before{
            left: 0.5rem;
        }
        input[type="checkbox"]::after{
            right: 0.5rem;
        }
        input:checked[type='checkbox']::before{
            left: 56%;
            box-shadow: none;
        }
        input:checked[type='checkbox']::after{
            right: 56%;
            box-shadow: none;
        }
    }
    @include media-tablet{
        &__nav{
            position: fixed;
            top: 0;
            left: 0;
            width: 25rem;
            height: 100vh;
            line-height: initial;
            flex-direction: column;
            text-align: center;
            z-index: 20;
            //transform: perspective(70rem) rotateY(.5turn);
            transform-origin: top left;
            transition: transform 0.5s ease-in-out;
        }
        &__links {
            height: 80rem;
            flex-direction: column;
            justify-content: space-evenly;
        }
        &__item {
            animation: initial;
            a:link,
            a:visited {
                padding: 2rem;
                font-size: 1.4rem;
                margin-right: initial;
            }
        }
    }
}


